@use '@angular/material' as mat;

.dialog-content {
    border: 1px solid #29dbdb;
    border-radius: 30px;
}

mat-dialog-content {
    display: flex;
    gap: 16px;
}

.progress-bar-container {
  mat-progress-bar {

    @include mat.progress-bar-overrides((
      active-indicator-color: #29dbdb,
      track-color: transparent,
    ));
  }
}

.btn {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background: #004f4f;
  border: 1px solid #889392;

  &:hover {
    background-color: #006e6e;
    border: 1px solid #29dbdb;
  }
}

.cancel-btn {
  background-color: #3f4948;
  &:hover {
    background-color: #5c6a69;
    border: 1px solid white;
  }
}
