<div class="dialog-content">
  <div class="progress-bar-container" *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
    <h2 mat-dialog-title>Add user</h2>
    <mat-dialog-content>
        <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="..." [(ngModel)]="user.firstName" required [disabled]="loading"/>
        <!-- <mat-hint>Please enter your first name.</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="..." [(ngModel)]="user.lastName" required [disabled]="loading"/>
        <!-- <mat-hint>Please enter your last name.</mat-hint> -->
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-content>
        <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="..." [(ngModel)]="user.email" required [disabled]="loading"/>
        <!-- <mat-hint>Please enter your last name.</mat-hint> -->
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-content>
        <mat-form-field class="full-width">
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate" [disabled]="loading">
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-content>
        <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street + No.</mat-label>
        <input matInput placeholder="..." [(ngModel)]="user.street" required [disabled]="loading"/>
        <!-- <mat-hint>Please enter your address.</mat-hint> -->
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-content>
        <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="..." [(ngModel)]="user.zip" required [disabled]="loading"/>
        <!-- <mat-hint>Please enter your zip code.</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="..." [(ngModel)]="user.city" required [disabled]="loading"/>
        <!-- <mat-hint>Please enter your city.</mat-hint> -->
        </mat-form-field>
    </mat-dialog-content>
    <mat-hint class="required-hint">* required fields</mat-hint>
    <mat-dialog-actions>
        <button class="cancel-btn btn" (click)="onCancel()" [disabled]="loading">Cancel</button>
        <button class="save-btn btn" (click)="saveUser()" [disabled]="loading">Save</button>
    </mat-dialog-actions>
</div>
