@use '@angular/material' as mat;

.dialog-content {
    border: 1px solid #29dbdb;
    border-radius: 30px;
}

mat-dialog-content {
    display: flex;
    gap: 16px;
}

.progress-bar-container {
  mat-progress-bar {

    @include mat.progress-bar-overrides((
      active-indicator-color: #29dbdb,
      track-color: transparent,
    ));
  }
}
