@import './../styles.scss';

.mat-drawer-container {
  height: 100dvh;
  width: 100%;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      gap: 16px;

      &:hover {
        background-color: #00ffff65;
      }
      &:focus {
        outline: none;
        background-color: #00ffff65;
      }
    }
  }
}

.sidenav {
  width: 30%;
  min-width: 200px;
  max-width: 300px;
  background-color: #282f2f;
  border-right: 1px solid #29dbdb;
}

.logo-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.12);
  height: 150px;
  padding: 16px;

  .logo-img {
    width: 120px;
    height: auto;
    border-radius: 50% 0 50%  0 ;
  }
}

main {
  height: calc(100dvh - 56px);
  width: 100%;
  padding-block: clamp(16px, 2vw + 1rem, 32px); /* oben + unten */
  padding-inline: clamp(16px, 4vw + 1rem, 56px); /* links + rechts */
}

.sidebar-btn {
  background-color: transparent;
  border: none;
}
