<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer 
  #drawer 
  class="sidenav" 
  mode="side" 
  [opened]="true">
   <div class="logo-container">
    PLATZ LOGO
   </div>
   <ul>
    <li routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</li>
    <li routerLink="/user"><mat-icon>perm_identity</mat-icon>User</li>
    <li routerLink="/help"><mat-icon>help</mat-icon>Help</li>
   </ul>
  </mat-drawer>

  <nav class="sidenav-content">
      <mat-toolbar class="max-width">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon class="menu-icon">menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar>
  </nav>
  <main class="max-width">
    <router-outlet/>
  </main>
</mat-drawer-container>


