html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  color: white;

  button,
  a,
  li {
    cursor: pointer;
  }

  .max-width {
    width: 100%;
    max-width: 1440px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}
